@page "/Categories"
@using Admin.Components
@using Admin.Models;
@using Admin.Parameter;
@using Admin.Services;

<!--Content-->
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Category List</h2>
            <p>Here's a list of all the categories on record.</p>
        </div>
        <div>
            <a href="/add-category" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            @foreach (var category in CategoryList)
            {
                <article class="itemlist">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-sm-3 col-6 flex-grow-1 col-name">
                            <a class="itemside" href="#">
                                <div class="left">
                                    <img src="@category.Image" class="img-sm img-thumbnail" alt="Item">
                                </div>
                                <div class="info">
                                    <h6 class="mb-0">@category.Name</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-6 col-action text-end">
                            <a href="/update-category/@category.Id.ToString()" class="btn btn-sm font-sm rounded btn-brand">
                                <i class="material-icons md-edit"></i> Update
                            </a>
                            <a @onclick="Delete" class="btn btn-sm font-sm btn-light rounded">
                                <i class="material-icons md-delete_forever"></i> Delete
                            </a>
                        </div>
                        <DeleteConfirmation @ref="deleteConfirmation" Id="@category.Id" Service="Categories" />
                    </div> <!-- row .// -->
                </article> <!-- itemlist  .// -->
            }
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</section>
<!-- content-main end// -->

@code {
    private DeleteConfirmation deleteConfirmation;
    [Inject]
    private CategoryRepository CategoryService { get; set; }
    private List<Category> CategoryList { get; set; } = new List<Category>();
    private MetaData MetaData { get; set; } = new MetaData();
    private QueryStringParameters _categoryParameters = new QueryStringParameters();

    protected async override Task OnInitializedAsync()
    {
        await GetCategories();
    }

    private async Task GetCategories()
    {
        var pagingResponse = await CategoryService.GetAll("Categories", _categoryParameters);
        CategoryList = pagingResponse.Items;
        MetaData = pagingResponse.MetaData;
    }
    private async Task SelectedPage(int page)
    {
        _categoryParameters.PageNumber = page;
        await GetCategories();
    }
    void Delete()
    {
        deleteConfirmation.Show();
    }
}
